@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-2uic09');
	src:url('../fonts/icomoon.eot?#iefix-2uic09') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-2uic09') format('woff'),
		url('../fonts/icomoon.ttf?-2uic09') format('truetype'),
		url('../fonts/icomoon.svg?-2uic09#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icono:before {
	content: "\e603";
}
.icon-phone:before {
	content: "\e608";
}
.icon-mail:before {
	content: "\e609";
}
.icon-user:before {
	content: "\e60a";
}
.icon-user-add:before {
	content: "\e60b";
}
.icon-location:before {
	content: "\e604";
}
.icon-thumbsup:before {
	content: "\e60c";
}
.icon-thumbsdown:before {
	content: "\e60d";
}
.icon-house:before {
	content: "\e60e";
}
.icon-search:before {
	content: "\e611";
}
.icon-printer:before {
	content: "\e60f";
}
.icon-cog:before {
	content: "\e610";
}
.icon-clock:before {
	content: "\e605";
}
.icon-calendar:before {
	content: "\e606";
}
.icon-logout:before {
	content: "\e613";
}
.icon-list:before {
	content: "\e607";
}
.icon-docs:before {
	content: "\e614";
}
.icon-arrow-up:before {
	content: "\e612";
}
.icon-twitter:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-googleplus:before {
	content: "\e602";
}
